<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle">Регистрация пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/register}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label> Имя пользователя </label>
                            <input type="text" class="form-control" name="username" placeholder="Придумайте уникальный логин">
                        </div>
                        <div class="form-group">
                            <label> Пароль </label>
                            <input type="password" class="form-control" name="password" placeholder="Введите пароль">
                        </div>
                        <div class="form-group">
                            <label> Повторите пароль </label>
                            <input type="password" class="form-control" name="password_2" placeholder="Повторите, учитывая регистр">
                        </div>
                        <div class="form-group">
                            <label> Адрес электронной почты </label>
                            <input type="email" class="form-control" name="email" placeholder="Активный адрес">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="role_customer" value="ROLE_CUSTOMER">
                            <label class="form-check-label" for="role_customer">
                                Заказчик
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="role_author" value="ROLE_AUTHOR">
                            <label class="form-check-label" for="role_author">
                                Автор
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <input type="submit" value="Регистрация" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">Вход в личный кабинет</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/login}" method="post">
                <div class="modal-body">

                        <div class="form-group">
                            <label> Имя пользователя (уникальный логин) </label>
                            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label> Пароль </label>
                            <input type="password" class="form-control" name="password" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <input type="submit" value="Войти" class="btn btn-success">
                </div>
                </form>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="#">DipGuru</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#info_block">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact_block">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feedback_block">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#registerModal">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#loginModal">Вход</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="info_block">

        </div>
        <div id="contact_block">

        </div>
        <div id="feedback_block">

        </div>
    </main>
    <footer>

    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>